
//BODY WRAPPER... 
.wrapper {
  width: 100vw;
  height: auto;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: scroll;
	scroll-snap-type: y proximity;
}

.body {
  width: 54.5vw;
  height: 100%;
  margin-left: 40vw;
  display: flex;
  flex-direction: column;
}

.textWithLines {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
  display: inline-block; 
  font-weight: 600;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.textWithLinesRedOut {
  width: 100%;
  padding: 1vw 0 1vw 0;
  display: inline-block; 
  border-top: 1.5pt solid #EF4423;
  border-bottom: 1.5pt solid #EF4423;
}

.textWithLinesRedIn {
  width: 100%;
  padding: 1vw 0 1vw 0;
  margin: 1vw 0 1vw 0;
  display: inline-block; 
  border-top: 1.5pt solid #EF4423;
  border-bottom: 1.5pt solid #EF4423;
}

//DIVIDERS STYLE ...

.claimingTheNow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;

  z-index: 4;
}


.TheNowImg {
  width: 60.81vw;
  height: auto;
 
}

.TheNowSVG {
  width: 39.9vw;
  height: auto;

}

.TheNowPhone {
  display: none;
  visibility: hidden;
}

// SECTION STYLE ...

// ____________ EVENTS ____________

.events {
  width: 100%;
  height: auto;
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;

  h7 {
    width: 589px;
    margin: 15.8vh 0 0  0;
    font-weight: 100;
    text-overflow: ellipsis;
  }

  .video {
    width: auto;
    margin: 4.5vh 0 0 0; 
    } 
  
  h1 {
    line-height: 138px;
    margin: 9.2vh 0 4.6vh 0;
  }

  
  h3 {
      width: auto;
      height: auto;
      margin-bottom: 15.7vh;
  }  
       
}

// ____________ WHAT'S ON ____________

.whatsON {
  width: 100%;
  height: auto;
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 24px;
  }

  .on {
   display: flex;
   flex-direction: row;

  .textWithLines {
    margin-top: 1.9vh;
    h4 {
      margin: 0;
    }
  }

  .column1 {
    width: 22.8vw;
    margin-right: 5.1vw;
    p {
      width: auto;
    }
  }

  .column2 {
    p {
      width: auto;
    }
  }

 }
}

// ____________ STREAM ____________

.stream {
  width: 100%;
  height: auto;
  padding: 15.7vh 0 0 3.5vw;
  display: flex;
  flex-direction: column;

  .video {
    width: 50.7vw;
    height: auto; 
    margin:  33px 0 0 0; 
  }

  .streaminfo {
    width: 41.9vw;
    margin: 0 0 0 9.2vw;

    .time {
      font-size: calc( 23px + 1.1vw);
      margin-top: 4.6vh;
    }

    .streambtn {
      margin: 4.6vh 0 9.2vh 0;
      display: flex;
      flex-direction: row;
      .free {
        margin: auto 0 0 0;
        p {
          transform: translateY(-5px);
        }
        p:after {
          content: "FREE";
          margin-left: 10px;
          font-weight: 100;
        }
      }

      button:first-child {
        margin-right: 1.5vw;
      }
    }

    .streamtxt {
      p {
        margin-bottom: 0;
      }

      .streamtxt2 {
        margin: 9.2vh 0;

      }
    }
    
  }

}

// ____________ FEATURED ____________



.featured {  
  width: 100%;
  height: auto;
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;
  margin: 9.2vh 6vw 0 0;

  .featuredanchor {
    scroll-margin-top: 6vh;
  }
  
  .title {   
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    h4 {
      writing-mode: vertical-rl;
      margin: 4vh 0 0 auto;
      font-weight: 600;
      transform: translate(3.2vw); 
    }
  }

  h3 {
    font-weight: 400;
    margin: 1.5vh 0 15.7vh 0;
  }
  .seemore {
    margin:0 0 9.2vh 13.9vw;
    p {
      margin: 4.6vh 0;
    }
  }
}

// ____________ CALLOUT ____________

.calloutanchor {
}

.callout {
  width: 100%;
  height: auto;
  padding-left: 3.5vw;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 6vh 0 0 0;
  }

  .callouttxt {
    h3 {
      line-height: 35px;
    }
  }

  .preferenceto {
    padding: 0 0 0 9.3vw;
    
    h2 {
      margin: 15.7vh 0 2.9vh 0;
    }
  }

  .howtoapply {
    margin: 9.2vh 0 9.2vh 0;
    display: flex;
    flex-direction: column;

    p {
      margin: 3vh 0 4.6vh 0;
    }

    button {
      width: 180px;
    }
  }

}

// ____________ ABOUT ____________

.aboutanchor {
  scroll-margin-top: 5vh;
}
.about {
  width: 100%;
  height: auto;
  padding: 6vh 0 15.7vh 3.5vw;

  .abouttxt {
    display: flex;
    flex-direction: row;
    margin: 15.7vh 0 15.7vh 0;


    .abouttxt1 {
      margin-right: 5.1vw;
    }
  }

  .team {
    width: auto;
    height: auto;
    margin-top: 4.6vh;
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 15.5vw);
    column-gap: 2vw;
    row-gap: 7vh;
    .teamtitle {
      white-space: nowrap;
      overflow: hidden;
      a {
        margin: 0;
      }
      h3 {
        font-weight: 600;
      }
      p {
        margin: 9px 0 6px 0;
      }
    }

  }
}


// ____________ SUPPORT ____________

.supportanchor {
  scroll-margin: 5vh 0 0 0;
  -webkit-scroll-margin: 5vh 0 0 0;
}
.support {
  width: 100%;
  height: auto;
  padding: 0 0 0 3.5vw;

  h1 {
    margin-bottom: 9.2vh;  
  }

  h3 {
    line-height: 35px;
  }
  
  .supportbtn {
    height: auto;
    margin: 4.6vh 0 9.2vh 0;
    display: flex;
    flex-direction: row;

    form {
      input {
        display: inline-block;
        vertical-align: middle;
      }
    }

    button:first-child {
      margin-right: 3.2vw;
    }
    
  }

  .sponsors {
    h3 {
      margin-bottom: 4.6vh;
    }
    p {
      margin: 9.2vh 0 4.6vh 0;
    }
  }
}

// BREAKPOINTS ... 

//LAPTOP HiDPI
@media only screen 
 and (max-width: 1450px) {

    .stream {
      .streaminfo {
        .streambtn {
          flex-direction: column;
          button:first-child {
            margin-bottom: 3.6vh;
          }
        }
      }
    }
    .about {
      .team {
        grid-template: repeat(3, auto) / repeat(2, 23vw);
        column-gap: 4vw;
      }

    }
 }

 //LAPTOP MDPI
 @media only screen 
 and (max-width: 1290px) {
    .featured {
      .title {
        h1 {
          font-size: calc( 70px + 4.5vw);
        }
        h4 {
          transform: translate(2vw); 
        }
      }
    }
 }

 //IPAD Pro LANDSCAPE
 @media only screen 
 and (max-width: 1112px)
 and (orientation: landscape) {

 }


//IPADS LANDSCAPE
 @media only screen 
 and (max-width: 1024px)
 and (orientation: landscape) {
   .events {
    h7 {
      width: 46.6vw;
      margin-top: 13vh;
    }
    h3 {
      margin-bottom: 13vh;
    } 
   }

  .whatsON {
    .on {
     flex-direction: column;
     
    .textWithLines {
      margin: 3.9vh 0;
      h4 {
        margin: 0;
      }
    }

    .column1 {
      width: auto;
      margin-right: 0;
      margin-bottom: 9.1vh;
      p {
        width: 100%;
      }
    }
  
    .column2 {
      margin-bottom: 13vh;
      p {
        width: 100%;
      }
    }
   }
  }

  //STREAM ...
  .stream {
    padding: 0 0 0 3.5vw;

    .streaminfo {
      width: auto;
      margin: 0;
      .time {
        font-size: calc( 15px + 1.2vw);
        white-space: normal;
      }

      .streambtn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4.4vh 0 13vh 0;
  
        a {
          margin: 0;
          button {
            white-space: nowrap;
          }
        }
      }

      .streamtxt {
        margin-bottom: 13vh;
        p:first-of-type {
          margin-bottom: 13vh;
        }
      }
      
    }
  }

  //FEATURED ...
    .featured {
      .featuredanchor {
        scroll-margin-top: 8.5vh;
      }
      .title {
        width: auto;
        margin-right: 0;
        justify-content: space-between;
        h1 {
          font-size: 112px;
        }
        h4 {
          margin: 1.5vh 0 0 2vw;
        }
      }

      .seemore {
        margin-left: 0;
      }
      
    }
    
  //CALLOUT ...
  .callout {
    h1{
      font-size: 80px;
      margin: 9.7vh 0 6.5vh 0;
    }

    .preferenceto {
      padding-left: 0;
    }  

    .textWithLinesRedOut {
      h3 {
        // margin: 2.9vh 0;
        line-height: 40px;
      }
    }
    .howtoapply {
      margin: 13vh 0;
      p {
        margin-bottom: 0;
        line-height: 37px;
      }
    }

    button {
      margin-top: 4.4vh;
    }
  }  

  //ABOUT ...
  .aboutanchor {
    scroll-margin-top: 10vh;
  }
  .about {
    padding-top: 9.7vh;
    h1 {
      font-size: 80px;
    }
    .abouttxt {
      flex-direction: column;
      margin-top: 6.5vh;

    }

    .abouttxt1 {
        margin-bottom: 13vh;
    }

    .team {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;

      .teamimg {
        width: 24vw;
        height: auto;
        margin-top: 0;
      }

      div+div{
        margin-top: 6.5vh;
      }

      h3 {
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  //SUPPORT ...
  .supportanchor {
    scroll-margin-top: 10vh;
  }
  .support {
    h1{
      margin: 0 0 6.5vh 0;
    }

    .supportbtn {
      margin: 6.5vh 0 13vh 0;
    }

    h3 {
      margin-bottom: 6.5vh;
    }

    p {
      margin: 13vh 0 6.5vh 0;
    }
  }
}

//IPADS PORTRAIT
@media only screen 
and (max-width: 1024px) {
  .events {
    h7 {
      width: 46.6vw;
      margin-top: 9.7vh;
    }
    h1 {
      font-size: 112px;
      margin-top: 61px;
      margin-bottom: 11px;
    }
    h3 {
      margin-bottom: 87px;
    } 
   }

  .whatsON {
    .on {
     flex-direction: column;
     
    .textWithLines {
      padding: 20px 0;
      margin: 20px 0 0 0;
      h4 {
        margin: 0;
      }
    }

    .column1 {
      width: auto;
      margin-right: 0;
      margin-bottom: 9.1vh;
      p {
        width: 100%;
      }
    }
  
    .column2 {
      margin-bottom: 9.7vh;
      p {
        width: 100%;
      }
    }
   }
  }

  //STREAM ...
  .stream {
    padding: 0 0 0 3.5vw;

    .streamTitle {
      h2 {
        font-size: 31px;
      }
    }
    .video {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .streaminfo {
      width: auto;
      margin: 0;
      .time {
        font-size: calc( 12px + 1.2vw);
        white-space: normal;
        margin-top: 0;
      }

      .streambtn {
        display: flex;
        flex-direction: column; 
        margin-top: 25px;
        margin-bottom: 100px;
  
        a {
          width: auto;
          margin: 0;
          button {
            white-space: nowrap;
          }
        }

        a:first-child {
          margin-bottom: 0;
        }

        a:nth-child(2) {
          button {
            margin-bottom: 0;
          }
        }
      }
    

      .streamtxt {
        margin-bottom: 9.7vh;
        p:first-of-type {
          margin-bottom: 9.7vh;
        }
      }
      
    }
  }

  //FEATURED ...
    .featured {
      margin-top: 61px;
      .title {
        width: auto;
        margin-right: 0;
        flex-direction: column;
        h1 {
          font-size: 80px;
          
        }
        h4 {
          margin: 4px 0 0 0;
          writing-mode: initial;
          transform: none;
        }
      }

      h3 { 
        margin-top: 4px;
        margin-bottom: 9.7vh;
      }

      .seemore {
        margin-left: 0;
      }
      
    }
    
  //CALLOUT ...
  .callout {
    h1{
      margin: 61px 0 4px 0;
    }

    .preferenceto {
      padding-left: 0;
      h2 {
        margin-top: 100px;
      }
    }  

    .textWithLinesRedOut {
      h3 {
        // margin: 2.9vh 0;
        line-height: 40px;
      }
    }
    .howtoapply {
      margin: 100px 0;
      p {
        margin-bottom: 0;
        line-height: 37px;
      }
    }

    button {
      margin-top: 4.4vh;
    }
  }  

  //ABOUT ...
  .aboutanchor {
    scroll-margin-top: 6vh;
  }
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
    .abouttxt {
      flex-direction: column;
      margin-top: 4.8vh;
      margin-bottom: 0;
    }

    .abouttxt1 {
        margin-bottom: 100px;
        .textWithLines {
          padding: 20px 0;
        }
    }

    .abouttxt2 {
        margin-bottom: 100px;
        .textWithLines {
          padding: 20px 0;
        }
    }

    .textWithLines {
      padding: 20px 0;
    }

    .team {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;

      .teamimg {
        width: 24vw;
        height: auto;
        margin-top: 0;
      }

      div+div{
        margin-top: 4.8vh;
      }

      h3 {
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  //SUPPORT ...
  .supportanchor {
    scroll-margin-top: 6vh;
  }
  .support {
    h1{
      font-size: 80px;
      margin: 0 0 50px 0;
    }

    .supportbtn {
      flex-direction: column;
      margin: 50px 0 100px 0;
      
      button:first-child {
        margin-bottom: 50px;
      }
    }
    .sponsors {
      h3 {
        margin-bottom: 50px;
      }
  
      p {
        margin: 100px 0 50px 0;
      }
    }
  }
}

//SMARTPHONE 
@media only screen 
and (min-width: 0px) 
and (max-width: 430px) {
  //TEXT WITH LINES ...
  .textWithLines {
    padding: 3.9vh 0;
    font-size: 20px;
  }

  //WRAPPER & BODY ...
  .wrapper {
    width: 100vw; 
  }

  .body {
    width: auto;
    height: auto;
    margin: 0 20px 0 20px;
    justify-content: center;
    align-content: center;
    
  }

  //EVENTS ...
  .top {
    scroll-margin-top: 29vh;
  }
  .events {
    padding-left: 0;
    h7 {
      margin-top: 32vh;
      width: 73vw;
    }

    .video {
      width: auto;
    }
    .eventsanchor {
      scroll-margin-top: 23vh;
      scroll-snap-margin-top: 23vh;
    }
    h1 {
      font-size: calc(35px + 8.3vw);
      margin: 25px 0 0 0;
    }

    h3 {
      font-size: 20px;
    }
  }

  //WHATS ON ...
  .whatsON {
    padding-left: 0;

    h5 {
      font-size: 35px;
    }
    .on {
      flex-direction: column;
     
    .textWithLines {
      h4 {
        font-size: 20px;
      }
    }

    .column1 {
      margin-bottom: 9.1vh;
      p {
        width: 100%;
      }
    }
  
    .column2 {
      margin-bottom: 13vh;
      p {
        width: 100%;
      }
    }
   }
  }

  //STREAM ...
  .stream {
    padding: 0;

    .streamTitle {
      h2 {
        font-size: 30px;
        width: 258px;
      }
    }

    .video {
      width: auto;
      height: auto;
    }

    .streaminfo {    
      .time {
        font-size: 16px;
      }
      .streambtn {
        width: auto;
        display: flex;
        flex-direction: column;

        a {
          margin: 0;
          button {
            white-space: nowrap;
          }
        }

        a:first-child {
          margin-bottom: 31px;
        }
      }

    }
  }

  //FEATURED ...
  .featured {
    padding: 0 0 0 0;

    .featuredanchor {
      scroll-margin-top: 27vh;
    }
    .title {
      h1 {
        font-size: calc(35px + 8.3vw);
      }
      h4 {
        visibility: hidden;
      }
    }
    h3 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .featuredanchor {
    scroll-margin-top: 29vh;
  }

  //CALLOUT ...

  .callout {
    padding: 0 0 20px 0;
    scroll-margin-top: 26vh;
    h1{
      margin: 31px 0 0 0;
      font-size: 70px;
    }

    .callouttxt {
        h3 {
          font-size: 20px;
          line-height: 30px;
        }
      }    

    .textWithLinesRedOut {
      h3 {
        font-size: 24px;
        line-height: 30px;
        margin: 17px 0;
      }
    }

    .howtoapply {
      margin: 13vh 0;
      h5 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 30px;
      }
    }

    button {
      margin-top: 4.4vh;
    }

  } 

  //ABOUT ...
  .about {
    margin: 30px 0 0 0;
    padding: 0;

    .aboutanchor {
      scroll-margin-top: 28vh;
    }

    h1 {
      margin-top: 0;
      font-size: calc(35px + 8.3vw);
    }
    .abouttxt {
      flex-direction: column;
      margin: 0;
    
      .abouttxt1 {
        margin-bottom: 76px;
        .textWithLines {
          margin-top: 10px;
        }
      }

      .abouttxt2 {
        margin-bottom: 76px;
      }
    }

    .team {
      margin: 47.5px 0 0 0;
      display: flex;
      flex-direction: column;

      .teamtitle {
        h3 {
          font-size: 19px;
        }
        p {
          font-size: 14px;
          margin: 9px 0 6px 0;
        }
      }

      .teamimg {
        margin-top: 0;
        width: 186px;
        height: auto;
      }

      p {
        font-size: 16px;
        font-weight: 400;
      }

      div+div{
        margin-top: 42px;
      }
    }
  }
  
  //SUPPORT ...
  .support {
    padding: 0 0 0 0;

    .supportanchor {
      scroll-margin-top: 22vh;
    }

    h1{
      margin: 80px 0 20px 0;
      font-size: 70px;
    }

    h3 {
      font-size: 20px;
      margin: 0 0 0 0;
    }

    p {
      margin: 21px 0 21px 0;
    }

    .supportbtn {
      margin: 6.5vh 0 13vh 0;
      flex-direction: column;

      button:first-child {
        margin-bottom: 32.5px;
      }
    }

    .sponsors { 
      margin-right: 40px;     
      h3 {
        margin-bottom: 29px;
        font-size: 16px;
      }
      p {
        font-size: 12px;
        margin-bottom: 32px;
      }
    }
  }

  
  //DIVIDER ...
    .TheNowPhone {
      display: block;
      visibility: visible;
      overflow: hidden;

      .img {
        width: auto;
        height: 372px;
      }
    }
    .claimingTheNow {
      display: none;
      visibility: hidden;
    }
}


//SMARTPHONE LANDSCAPE
@media only screen 
and (min-width: 0px) 
and (max-width: 900px)
and (orientation: landscape) {
  .wrapper {
    .events {
      margin-top: 5vh;
    }
  }
  .callout {
    .calloutanchor {
      scroll-margin-top: 8vh;
    }
  }
  .about {
    .aboutanchor {
      scroll-margin-top: 10vh;
    }
  }
  .support {
    .supportanchor {
      scroll-margin-top: 10vh;
  }
  }
}