body {
  background-color: #E5E5E5;
}
.wrapper {
  width: auto;
  height: auto;
  margin: 0 19.4vw;
  background-color: white;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: auto;
    background-color: #EF4423;

    .container{
      display: flex;
      flex-direction: row;
      margin: 6.4vh 2.6vw;

      .logo {
        width: 15.2vw;
        height: auto;
        margin: 0 auto 0 0;
      }

      .stairs {
        width: 5vw;
        height: auto;
        margin: auto 0 0 auto;
        align-self: flex-end;
      }
      
    }
  }

  form {
    height: auto;
    margin: 3.7vw 5vw 5vw 5vw;
    display: flex;
    flex-direction: column;

    .description {
      display: flex;
      flex-direction: column;
      margin-bottom: 6.6vh;

      div {
        .textWithLines {
          h4 {
            margin: 10px 0;
          }
        }
      }

      p {
        width: auto;
      }

      p:first-child {
        margin-top: 4vh;
      }
    }
  
    .input {
  
      width: auto;
      height: 8vh;
      margin-bottom: 4vh;
      display: flex;
      flex-direction: column;
  
      p {
        height: auto;
        line-height: 22px;
        margin: 0;
      }
  
      input {
        width: 100%;
        height: 4.5vh;
        margin: 1vh 0 0 auto;
        padding-left: 23px;
        border-radius: 50px;
        font-family: inherit;
        font-size: 16px;
      }
  
      input:focus {
        outline: none;
        border-color:#EF4423;
        box-shadow:0 0 5px #EF4423;
      }

      input::placeholder {
        opacity: 0.3;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
  
    }
    
  
    .required {
      input {
        border: solid 1px #EF4423;
      }
    }
  
    .optional {
      input {
        border: solid 1px #8F8F8F;
      }
    }
  
    .square {
      height: auto;

      textarea {
        width: auto;
        height: 13vh;
        display: inline;
        margin: 1vh 0 0 0;
        padding: 23px;
        border: solid 1px #EF4423;
        resize: none;
        font-family: inherit;
        font-size: 16px;
      }
  
      textarea::placeholder {
        padding: 23px 0 0 23px;
        vertical-align: top;
        display: inline;
        opacity: 0.3;
      }
  
      textarea:focus {
        outline: none;
        border-color:#EF4423;
        box-shadow:0 0 5px #EF4423;
      }
  
      
    }
  
    .line {
      width: 100%;
      height: 3px;
      background-color: #EF4423;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
        width: auto;
        height: auto;
        min-width: 10.7vw;
        margin: 4.6vh 0 0 2vw;  
      }
  
      button:hover {
        color: #EF4423;
      }

    }
    
  }
  
}

.textWithLines {
  width: auto;
  height: auto;
  padding: 1vw 0 1vw 0;
  display: inline-block; 
  font-weight: 600;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

//IPADS
@media only screen 
and (max-width: 1024px) {
  .wrapper {
    margin: 0 12.4vw;
  }
}

//SMARTPHONE 
@media only screen 
and (min-width: 0px) 
and (max-width: 430px) {
  .wrapper {
    margin: 0;

    .header {
      position: fixed;
      height: 100px;

      .container {
        margin: 4vw 5vw 4vw 5vw;
        .logo {
          width: 30vw;
        }
        .stairs {
          display: none;
        }
      }
    }

    form {
      margin-top: 140px;
    }

  }
}




