.wrapper {
  position: relative;
  display: grid;
  grid-template: 8vh/ 100vw;
  justify-content: right;
  background-color: transparent;
  z-index: 2;
}

.container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 0 0 auto;
  opacity: 1;

  .socialico {
    margin: auto 0 auto 44px;
    svg {
      width: 24px;
      height: auto;
      margin: auto 0;
    }
  }

  .patreonbtn {
    margin:  auto 0 auto 44px;
    padding: 9px 20px;
    width: auto;
    height: auto;
    background-color: transparent;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    color: black;
    border: 2px solid black;
  }

  span {
    width: 5.6vw;
  }

}

a {
  margin: auto 0;
  padding: auto 0;
}

@media only screen 
and (min-width: 0px) 
and (max-width: 430px) {

  .wrapper {
    display: none;
  }
}

@media only screen 
and (min-width: 0px) 
and (max-width: 900px) {
  .wrapper {
    grid-template: 8vh/ 100vw;
  }
  .container {
    .socialico {
      margin-left: 24px;
    }
    .patron {
      margin-left: 24px;
    }
  }
}

@media only screen 
and (min-width: 0px) 
and (max-width: 900px) 
and (orientation: landscape) {
  .wrapper {
    grid-template: 15vh/ 100vw;
  }
}
